<html>
  
<head>
 <h1 align="center">Item Stores Locator</h1>
</head>

<body>
  <button id="getStores" style ="float:left; margin:20px">Get Item Stores Details</button>
  <br>
  <button id="getChart" style="float:right;margin:20px">Get Item Sales chart from 2011 to 2014</button>
  <br><br>
  <table id="StoreDetails" style="width:100%" border=2></table>
  <br>  

  <div id="mapholder" style="width:100px; float:left; height:auto ;margin:20px"></div>
  <div id="main_div" style="width: 400; height:auto; margin:20px ; float: right">
      <!--Divs that will hold each control and chart-->
      <br><br>
      <div id="filter"></div>
      <br><br>
      <div id="chart"></div>
  </div>

</body>
</html>


